.article__bookmark {
  background-image: url('images/bookmark-normal.svg');
  /* background-image: url(../../../images/bookmark-normal.svg); */
  width: 40px;
  height: 40px;
  /* border: 2px solid #b6bcbf; */
  border: none;
  box-sizing: border-box;
  border-radius: 8px;
  position: absolute;
  top: 24px;
  right: 24px;
  /* cursor: ; */
}