.author__image {
  width: 100%;
  border-radius: 1000px;
}

@media (max-width: 768px) {
  .author__image {
    margin-top: 3%;
  }
}

@media (max-width: 320px) {
  .author__image {
    width: 272px;
    height: 272px;
    margin-top: 0;
  }
}