@import url(./__block-title/author__block-title.css);
@import url(./__about/author__about.css);
@import url(./__image/author__image.css);
@import url(./__text/author__text.css);

.author {
  background-color: #fff;
  width: 85%;
  margin: auto;
  display: flex;

}