.footer__copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin-top: 2.5%;
  margin-bottom: 2.11%;
}

@media (max-width: 768px) {
  .footer__copyright {
    margin-top: 2.5%;
    font-size: 2.15vw;
    line-height: 3.86vw;
  }
}

@media (max-width: 650px) {
  .footer__copyright {
    font-size: 0.65em;
    padding-top: 1%;
  }
}

@media (max-width: 320px) {
  .footer__copyright {
    font-size: 16px;
    line-height: 22px;
  }
}