.search__title {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  width: 608px;
  margin-top: 80px;
  margin-bottom: 0;
  color: #fff;
}