.search__form {
  margin-bottom: 13.15%;
  margin-top: 10.53%;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .search__form {
    margin-top: 10.71%;
    margin-bottom: 10.71%;
  }
}

@media (max-width: 320px) {
  .search__form {
    margin-top: 122px;
    margin-bottom: 32px;
  }
}