.search__button {
  width: 11.66vw;
  height: 7.3vh;
  position: absolute;
  right: 0;
  transition: background-color 2s;
}

.search__button:hover {
  background-color: #347eff;
}

.search__button:active {
  background-color: #2a65cc;
}

@media (max-width: 1024px) {
  .search__button {
    width: 13.66vw;
  }
}

@media (max-width: 768px) {
  .search__button {
    width: 20.83vw;
  }
}

@media (max-width: 600px) {
  .search__button {
    height: 5.9vh;
  }
}

@media (max-width: 320px) {
  .search__button {
    position: static;
    margin-top: 16px;
    width: 100%;
    height: 56px;
  }
}