.popup__login-button {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  color: #2f71e5;
  border: none;
  background-color: inherit;
  padding: 14px 0 30px;
}