.popup__content {
  width: 430px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 20px;
}

@media (max-width: 540px) {
  .popup__content {
    width: calc(100% - 80px);
  }
}

@media (max-width: 320px) {
  .popup__content {
    width: 100%;
    padding: 16px 16px 375px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    top: 56px;
  }
}