.menu__btn-caption {
  /* color: #fff; */
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 12px; /*19px;*/
  margin-right: 12px; /*5px;*/
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
