.search__block-text {
  margin-top: 5.26%;
  margin-bottom: 0;
  margin-left: 0;
  width: 90%;
}

@media (max-width: 1024px) {
  .search__block-text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search__block-text {
    margin-top: 3.26%;
  }
}

@media (max-width: 320px) {
  .search__block-text {
    margin-top: 16px;
  }
}